<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="@{${title} + ' - Общежитие'}"></title>
    <link href="/Content/bootstrap.css" rel="stylesheet"/>
    <link href="/Content/headerfix.css" rel="stylesheet"/>
    <link href="/Content/site.css" rel="stylesheet"/>
    <script src="/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div th:replace="Shared/header::header"></div>

    <div class="container body-content">
        <h2 th:text="${title}"></h2>

        <h3>Вы уверены, что хотите удалить эту выдачу инвентаря?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>Вид</dt>
                <dd>
                    <a th:href="@{'/Inventories/Details/' + ${issuedInventory.inventoryItem.id}}" target="_blank" th:text="${issuedInventory.inventoryItem.invType}"></a>
                </dd>

                <dt>Количество</dt>
                <dd th:text="${issuedInventory.issCount}"></dd>

                <dt>Дата выдачи</dt>
                <dd th:text="${#temporals.format(issuedInventory.issueDate,'dd.MM.yyyy')}"></dd>

                <dt>Дата сдачи</dt>
                <dd th:text="${#temporals.format(issuedInventory.turnInDate,'dd.MM.yyyy')}"></dd>

                <dt>Обладатель</dt>
                <dd>
                    <a th:href="@{'/Students/Details/' + ${issuedInventory.student.id}}" target="_blank" th:text="@{${issuedInventory.student.surname} + ' ' + ${issuedInventory.student.name} + ' ' + ${issuedInventory.student.patronymic}}"></a>
                </dd>
            </dl>

            <form action="#" th:action="@{/IssuedInventories/Delete/}+${id}" method="post">
                <div class="form-actions no-color">
                    <input type="submit" value="Удалить" class="btn btn-default" /> |
                    <a href="javascript:history.back()">Назад</a>
                </div>
            </form>
        </div>

        <hr/>
        <footer></footer>
    </div>

    <script src="/Scripts/jquery-3.4.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/localization/messages_ru.js"></script>
</body>
</html>