<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="@{${title} + ' - Общежитие'}"></title>
    <link href="/Content/bootstrap.css" rel="stylesheet"/>
    <link href="/Content/headerfix.css" rel="stylesheet"/>
    <link href="/Content/site.css" rel="stylesheet"/>
    <script src="/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div th:replace="Shared/header::header"></div>

    <div class="container body-content">
        <h2 th:text="${title}"></h2>

        <p>
            <a href="/Cleanings/Create">Добавить</a>
        </p>

        <table th:if="${cleanings.size() > 0}" class="table table-hover">
            <tr>
                <th>Дата и время уборки</th>
                <th>Убранные помещения и территории</th>
                <th>Исполнители</th>
                <th></th>
            </tr>
            <tr th:each="cleaning : ${cleanings}">
                <td th:text="${#temporals.format(cleaning.dateC,'dd.MM.yyyy')} + ' ' + ${#temporals.format(cleaning.timeC,'HH:mm')}"></td>
                <td th:text="${cleaning.cleaned}"></td>
                <td>
                    <div th:each="employee : ${cleaning.employees}">
                        <a th:href="@{'/Employees/Details/' + ${employee.id}}" target="_blank" th:text="@{${employee.surname} + ' ' + ${employee.name} + ' ' + ${employee.patronymic}}"></a>
                        <br/>
                    </div>
                </td>
                <td>
                    <a th:href="@{'/Cleanings/Edit/' + ${cleaning.id}}">Изменить</a> |
                    <a th:href="@{'/Cleanings/Delete/' + ${cleaning.id}}">Удалить</a>
                </td>
            </tr>
        </table>

        <br/>
        <hr/>
        <footer></footer>
    </div>

    <script src="/Scripts/jquery-3.4.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/localization/messages_ru.js"></script>
</body>
</html>