<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="@{${title} + ' - Общежитие'}"></title>
    <link href="/Content/bootstrap.css" rel="stylesheet"/>
    <link href="/Content/headerfix.css" rel="stylesheet"/>
    <link href="/Content/site.css" rel="stylesheet"/>
    <script src="/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div th:replace="Shared/header::header"></div>

    <div class="container body-content">
        <h2 th:text="${title}"></h2>

        <form action="#" th:action="@{/Visitors/Edit/}+${id}" th:object="${visitor}" method="post">
            <div class="form-horizontal">
                <hr />

                <input id="ID" type="hidden" th:field="*{id}" />

                <div class="form-group">
                    <label class="control-label col-md-2">Фамилия</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="Surname" type="text" th:field="*{surname}" />
                        <span class="field-validation-valid text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Имя</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="Name" type="text" th:field="*{name}" />
                        <span class="field-validation-valid text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Отчество</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="Patronymic" type="text" th:field="*{patronymic}" />
                        <span class="field-validation-valid text-danger" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Номер телефона</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="Phone" type="tel" th:field="*{phone}" />
                        <span class="field-validation-valid text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Дата посещения</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="DateVs" type="date" th:field="*{dateVs}" />
                        <span class="field-validation-valid text-danger" th:if="${#fields.hasErrors('dateVs')}" th:errors="*{dateVs}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Время посещения</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="TimeVs" type="time" th:field="*{timeVs}" />
                        <span class="field-validation-valid text-danger" th:if="${#fields.hasErrors('timeVs')}" th:errors="*{timeVs}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Далее" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>

        <div>
            <a href="javascript:history.back()">Назад</a>
        </div>

        <hr/>
        <footer></footer>
    </div>

    <script src="/Scripts/jquery-3.4.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/localization/messages_ru.js"></script>
</body>
</html>